* {
 margin: 0;
 padding: 0;
 font-size: 14px;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  img {
    border: none;
  }
}

.clearfix {
  zoom: 1; /* IE < 8 */

  &:after {
    clear: both;
  }

  &:before, &:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
}

@mixin panel {
  border: 1px #D7D6D6 solid;
  border-radius: 0 0 5px 5px;
}

body {
  text-align: center;
}

#wrap {
  margin: auto;
  min-width: 1024px;
  max-width: 1366px;
  text-align: left;
}

#header {
  height: 72px;
  position: relative;
  background: url('banner.png') no-repeat left center;

  h1 {
    text-indent: -10000px;
  }

  .right {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('header_right.png') no-repeat right center;
  }

  ul {
    list-style: none;
    position: absolute;
    top: 27px;
    right: 20px;
    height: 20px;
    line-height: 20px;
    background: url("header_link_bg.png") no-repeat right center;

    li {
      float: left;

      &.exit {
        background: url("icon_split.png") no-repeat left center;

        a {
          padding-right: 8px;
          background-image: url("icon_exit.png");
        }
      }
    }

    a {
      display: block;
      color: #0c4266;
      padding-left: 26px;
      padding-right: 10px;
      background: url("icon_welcome.png") no-repeat 8px center;
    }
  }
}

#nav {
  height: 30px;
  line-height: 28px;
  text-align: center;
  list-style: none;
  background: url('nav_bg.png') repeat-x center;

  li {
    float: left;
    width: 12.5%;
    z-index: 100;
    position: relative;
    background: url('nav_split.png') no-repeat right center;

    a {
      display: block;
      color: #FFFFFF;
      height: 100%;

      &:hover {
        color: #feb45f;
      }
    }

    &.active {

      a {
        color: red;
        background: #e7ebed url('main_nav_bg.png') repeat-x top center;
      }

      li a {
        color: black;
        background: none;
      }
    }

    ul {
      display: none;
      list-style: none;
      top: 28px;
      left: 0;
      z-index: 1000;
      position: absolute;
      width: 100%;
      background: #e7ebed;
      border-top: none;
      border-radius: 0 0 5px 5px;
    }

    li {
      float: none;
      width: auto;
      background: none;
    }
  }
}

#footer {
  clear: both;
  text-align: center;
  padding-top: 18px;
  margin-top: 8px;
  background: #FFFFFF url('footer_bg.png') repeat-x center top;

  ul {
    margin-bottom: 30px;
  }

  li {
    display: inline;
    padding: 10px;
  }

  p {
    font-size: 12px;
    line-height: 1.5;
  }
}