#nav {
  margin-bottom: 15px;
}

#sidebar {
  width: 250px;
  float: left;

  h2 {
    line-height: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    color: #2A7CC0;
    font-size: 18px;
    border-left: 5px solid;
  }

  ul {
    list-style: none;
  }

  li {
    padding-left: 30px;

    &.active, &.selected {
      background: #2A7CBF url('nav_dot.png') no-repeat 20px center;

      a {
        color: #FFFFFF;
        background: url('nav_tip.png') no-repeat right center;
      }
    }

    a {
      line-height: 30px;
      height: 30px;
      display: block;
    }
  }
}

#content {
  margin-left: 250px;
}
