* {
  margin: 0;
  padding: 0;
  font-size: 14px; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a img {
    border: none; }

.clearfix {
  zoom: 1;
  /* IE < 8 */ }
  .clearfix:after {
    clear: both; }
  .clearfix:before, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }

body {
  text-align: center; }

#wrap {
  margin: auto;
  min-width: 1024px;
  max-width: 1366px;
  text-align: left; }

#header {
  height: 72px;
  position: relative;
  background: url(images/banner.png) no-repeat left center; }
  #header h1 {
    text-indent: -10000px; }
  #header .right {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(images/header_right.png) no-repeat right center; }
  #header ul {
    list-style: none;
    position: absolute;
    top: 27px;
    right: 20px;
    height: 20px;
    line-height: 20px;
    background: url(images/header_link_bg.png) no-repeat right center; }
    #header ul li {
      float: left; }
      #header ul li.exit {
        background: url(images/icon_split.png) no-repeat left center; }
        #header ul li.exit a {
          padding-right: 8px;
          background-image: url(images/icon_exit.png); }
    #header ul a {
      display: block;
      color: #0c4266;
      padding-left: 26px;
      padding-right: 10px;
      background: url(images/icon_welcome.png) no-repeat 8px center; }

#nav {
  height: 30px;
  line-height: 28px;
  text-align: center;
  list-style: none;
  background: url(images/nav_bg.png) repeat-x center; }
  #nav li {
    float: left;
    width: 12.5%;
    position: relative;
    background: url(images/nav_split.png) no-repeat right center; }
    #nav li a {
      display: block;
      color: #FFFFFF;
      height: 100%; }
      #nav li a:hover {
        color: #feb45f; }
    #nav li.active a {
      color: red;
      background: #e7ebed url(images/main_nav_bg.png) repeat-x top center; }
    #nav li.active li a {
      color: black;
      background: none; }
    #nav li ul {
      display: none;
      list-style: none;
      top: 28px;
      left: 0;
      z-index: 1000;
      position: absolute;
      width: 100%;
      background: #e7ebed;
      border-top: none;
      border-radius: 0 0 5px 5px; }
    #nav li li {
      float: none;
      width: auto;
      background: none; }

#footer {
  clear: both;
  text-align: center;
  padding-top: 18px;
  margin-top: 8px;
  background: white url(images/footer_bg.png) repeat-x center top; }
  #footer ul {
    margin-bottom: 30px; }
  #footer li {
    display: inline;
    padding: 10px; }
  #footer p {
    font-size: 12px;
    line-height: 1.5; }

#nav {
  margin-bottom: 15px; }

#sidebar {
  width: 250px;
  float: left; }
  #sidebar h2 {
    line-height: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    color: #2A7CC0;
    font-size: 18px;
    border-left: 5px solid; }
  #sidebar ul {
    list-style: none; }
  #sidebar li {
    padding-left: 30px; }
    #sidebar li.active, #sidebar li.selected {
      background: #2a7cbf url(images/nav_dot.png) no-repeat 20px center; }
      #sidebar li.active a, #sidebar li.selected a {
        color: #FFFFFF;
        background: url(images/nav_tip.png) no-repeat right center; }
    #sidebar li a {
      line-height: 30px;
      height: 30px;
      display: block; }

#content {
  margin-left: 250px; }

#content h3 {
  line-height: 30px;
  background: url(images/grid_title_bg.png) repeat-x center; }
  #content h3 span {
    display: block;
    padding-left: 30px;
    background: url(images/grid_title.png) no-repeat 10px center; }
#content .inner {
  zoom: 1;
  margin: 0 10px; }
#content table {
  width: 100%;
  margin-top: 10px;
  line-height: 30px;
  border-collapse: collapse;
  border: 1px #bde5f1 solid; }
#content tr.alt {
  background: #f1f6fc; }
#content th {
  text-align: center;
  background: url(images/th_bg.png) repeat-x center; }
#content td {
  padding: 0 10px;
  border: 1px #bde5f1 solid; }
#content tfoot {
  background: #f1f6fc;
  text-align: right; }
  #content tfoot a {
    margin: 5px; }
  #content tfoot .left {
    padding: 5px;
    background: no-repeat center;
    background-image: url(images/page_left.png); }
  #content tfoot .pre {
    padding: 5px;
    background: no-repeat center;
    background-image: url(images/pre.png); }
  #content tfoot .next {
    padding: 5px;
    background: no-repeat center;
    background-image: url(images/next.png); }
  #content tfoot .right {
    padding: 5px;
    background: no-repeat center;
    background-image: url(images/page_right.png); }
#content .btns {
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px #bde5f1 solid;
  margin-bottom: 10px;
  border-top: none;
  background: url(images/grid_btns.png) repeat-x bottom; }
  #content .btns button {
    width: 76px;
    height: 23px;
    border: none;
    margin: 8px;
    cursor: pointer;
    background: no-repeat center; }
  #content .btns .submit {
    background-image: url(images/btn_submit.png); }
  #content .btns .close {
    background-image: url(images/btn_close.png); }